/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Fraunces', serif;
}

p {
  font-weight: 500;
  font-style: italic;
}
